@import 'pokemon.scss';

@media only screen and (min-width: 768px) {
  p, blockquote {
    font-size: 20px;
  }
}

@media only screen and (max-width: 600px) {
  p, blockquote {
    font-size: 15px;
  }
}

.menu-item {
  margin-left: 1.5em;
}

blockquote {
  text-align: left;
}

[data-theme="dark"] img {
  filter: none;

  p {
    color: #8F9BA8;
  }
}

ul {
  list-style-position: outside; /* Ensures list markers are on the outside */
  padding-left: 20px; /* Adds space for the bullet points */
  text-align: left; /* Left-aligns the text */
}

li {
  text-align: left; /* Left-aligns each list item */
}

p {
  margin-bottom: 50px;
}

figure {
	margin-inline-start: 0px;
	margin-inline-end: 0px;

	figcaption {
		h4 {
			margin-block-start: 0em;
	    	margin-block-end: 0em;
		}
	}
}

.chinese-zodiac {
	
}

figcaption {
  border-left: 2px solid #ccc;
  padding: 0.2em 10px;
}

figcaption:before {
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

figcaption h4 {
	font-size: 1.1em;
}

.header-inner {
    max-width: 40em !important;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeSpeed;
}